language: python
python:
# - '3.4' Deploy does not work at the moment
- '3.5'
- '3.6'
- '3.7'
- '3.8'
install:
- pip install flake8
script:
- pip install -e .
- python setup.py test
- flake8
branches:
  only:
  - master
    # Ruby regex to match tags. Required, or travis won't trigger deploys when
    # a new tag is pushed. Version tags should be of the form: v0.1.0
  - /^v\d+\.\d+\.\d+.*$/
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: pinetr2e
  password:
    secure: e+1QUt4MOE0TdShLdEFo+7NgUlKFP44QNVI8dQSyIhNvgn/vlL1kBNpb3UwkW8fRwS9C+lfHmqjgnh1vhRdVycMKs15DIwY6LwRCqesalj0AUb40LT3D1BKFar3Fk1gRdPN3/sYAafDuHG2cAFrkZ9L3JXmu2ywFkq7P9bBHz/Y7uYjmHHJKgv3pg2IqGV5ueXBShfsVy9m4o3W/k6b0vPkhiFbKJM0HkQZ21rFdv/t/ZGi5E9FYrDkzy5FVsmnc+3htGI/V5XMP+FCHaWy/xA4e1VzUx5ILNViu3sgidwik62O7AGcoWvr6eaxIRUaaxiznnYSiqOw0gxAc1NVsGEVEGVCEF4V9GUjp+fM+LuB9fy9ADUllk8LVKorwZmx5Nune0d7MxTTcF8idM7rNwFoPkxm0yu88GQUqDbkPaz5VvUOza3ODsK3c044W46Z5Ym7ejfarTTL8Sz7fWIomOIWwQ7fpSnkidxdJDE1wrBXIquY32C8XLIIOAvr+RVtCMBj+T0XQPunk+2UAQNYQRJP3pEYoglxid24zzpMEyX4tTwWAAdwzAnwCMHGOptXch67JncI/1sL94PoEyMt99QxjrL5UvIKAdXVIT9p7b2cG57xXQma4kY6Fav/8oWYmq67M+SgRqD+n/l762GQL+TN538kL2YaVWtXAjzTEtkI=
  on:
    tags: true
  skip_existing: true
